body(data-spy='scroll' data-target="#navbarResponsive")
//- Home & Nav Section
- var btnMd = ['btn', 'btn-secondary', 'btn-md']
- var btnLg = ['btn', 'btn-outline-light', 'btn-lg']
- var play_icon = ['fas', 'fa-play-circle', 'fa-4x']
- var slider_icon = ['fas', 'fa-sliders-h', 'fa-4x']
- var page_icon = ['fab fa-wpforms fa-4x']
- var money_icon = ['fas', 'fa-money-bill-wave', 'fa-3x']
- var quote_icon = ['fas', 'fa-quote-left']
- var facebook_icon = ['fab', 'fa-facebook-square']
- var instagram_icon = ['fab', 'fa-instagram']
- var twitter_icon = ['fab', 'fa-twitter-square']
- var user_icon = ['fa', 'fa-user']
- var envelope_icon = ['fa', 'fa-envelope']
- var paperplane_icon = ['far', 'fa-paper-plane', 'ml-1']
  #home
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href = "#")
        img(src="../styles/assets/logos/logo.png")
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarResponsive")
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="#home") Home
          li.nav-item
            a.nav-link(href="#description") About
          li.nav-item
            a.nav-link(href="#about") Services
          li.nav-item
            a.nav-link(href="#resources") Listings
          li.nav-item
            a.nav-link(href="#clients") Clients
          li.nav-item
            a.nav-link(href="#contactForm" data-toggle="collapse" data-target="#contactForm") Contact
  |
  |
  //- Landing Image & Caption
  |
  |
  .landing
    .home-wrap
      .home-inner
  .caption.text-center
    h1 Ben Gaubert
    h3 Real Estate Services
    a(class=btnLg href='#about') View Listings
  |
  |
  //- Contact Forms
  |
  |
  //- Contact Form Card
  |
  |
  #contactForm.container.mt-4.collapse(data-spy="scroll" aria-hidden="true")
    .card.contact-card
      .card-body
        form
          h3.text-center.font-bold.py-4
            strong Contact Ben
          |
          .form-row.justify-content-center
            .form-group.form-group-icon.col-md-6
              span
                i(class=user_icon aria-hidden="true")
              input.form-input-main(type="text" placeholder="Your Name")
            |
            //- Email
            |
          .form-row.justify-content-center
            .form-group.form-group-icon.col-md-6
              span
                i(class=envelope_icon aria-hidden="true")
              input.form-input-main(type="email" placeholder="Your Email")
          |
          //- Radio Selection
          |
          .form-row.justify-content-center
            .form-group.col-md-6
              label(for="dropdown-menu") I'm Looking To
              select.form-control(id="dropdown-menu")
                option.selected List My Property
                option Buy a Home
                option Rent
                option Chat
          //- .form-row
          //-   fieldset.form-group.col-md-6#form-group-id
          //-     label(for="form-group-id") I'm Looking To
          //-     .form-check
          //-       input.form-check-input(type="checkbox" name="gridRadios" id="gridRadios1" value="Buy" checked)
          //-       label.form-check-label(for="gridRadios1") Buy
          //-     .form-check
          //-       input.form-check-input(type="checkbox" name="gridRadios" id="gridRadios1" value="Buy")
          //-       label.form-check-label(for="gridRadios1") Sell
          //-     .form-check
          //-       input.form-check-input(type="checkbox" name="gridRadios" id="gridRadios1" value="Buy")
          //-       label.form-check-label(for="gridRadios1") Rent
          //-     .form-check
          //-       input.form-check-input(type="checkbox" name="gridRadios" id="gridRadios1" value="Buy")
          //-       label.form-check-label(for="gridRadios1") Chat
          .form-row.justify-content-center
            .form-group.col-md-6
              label(for="formControlTextarea")
              textarea.form-control#formControlTextarea(rows="3" placeholder="Message")
          |
          //- Button
          |
          .text-center.py-4
            button.btn Send It
              i(class=paperplane_icon)
  |
  //- #form.collapse.container.mt-4
  //-   .text-center.mb-4
  //-     form
  //-       .form-row
  //-         .form-group.col-md-6.mb-4
  //-           label(for="inputName") Name 
  //-           input.form-control(type="text" id="inputName" placeholder="name")
  //-         .form-group.col-md-6
  //-           label(for="inputEmail") Email 
  //-           input.form-control(type="text" id="inputEmail" placeholder="email")
  //-       .form-row
  //-         .form-group.col-md-6
  //-           label(for="inputPhone") Phone 
  //-           input.form-control(type="tel" id="inputPhone"   placeholder="360-xxx-xxxx")
  //-         .form-group.col-md-4
  //-           label(for="inputOption") I'm Looking To...
  //-           select#inputOption.form-control
  //-             option Buy
  //-             option Sell
  //-             option Rent
  //-             option Chat
  //-       .form-row
  //-         .form-group.col-md-6
  //-           label(for="inputNote") Note
  //-           input.form-control(type="text" id="inputNote"   placeholder="Message")
  //-       button.btn.btn-primary#form-btn(type="submit")
  | 
  #description.offset
    .col-12.narrow.text-center
      h1 Client First Brokerage Services
      p.lead the very best serving Olympia, WA
      a(class=btnMd href='#' target="_blank") Get in Touch
  |
  #about.offset
    .jumbotron 
      .narrow.text-center
        .col-12
          h3.heading Services
          .heading-underline
        .row.text-center
          .col-md-4
            .feature
              i(class=play_icon data-fa-transform="shrink-3 up-5")
              h3 At Your Service
              p Serving Olympia, WA
          .col-md-4
            .feature
              i(class=slider_icon data-fa-transform="shrink-4.5 up-4.5")
              h3 Market Analysis
              p Serving Olympia, WA
          .col-md-4
            .feature
              i(class=page_icon data-fa-transform="shrink-4.5 up-4.5")
              h3 Market Analysis
              p Serving Olympia, WA
  #resources.offset
    .fixed-background
    .fixed-wrap
    .fixed
      .row.dark.text-center
        .col-12
          h3.heading Built With Care
          .heading-underline
        .col-md-4
          h3 Sales
          .feature
            i(class=money_icon)
          p.lead An unmatched attention to detail
        .col-md-4
          h3 Analysis
          .feature
            i(class=money_icon)
          p.lead Guiding the way
        .col-md-4
          h3 Negotiation
          .feature
            i(class=money_icon)
          p.lead Getting the right deal
  #clients.offset
    .jumbotron
      .col-12.text-center
        h3.heading Clients
        .heading-underline
        .row
          .col.md-6.clients
            .row
              .col-md-4
                img(src='../styles/assets/img/client1.png')
              .col-md-8
                blockquote
                  i(class=quote_icon)
                  p Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA.                  
                  hr.clients-hr
                  cite &#8212; Lisa Redfern, Home Buyer
          .col-md-6.clients
            .row
              .col-md-4
                img(src='../styles/assets/img/client2.png')
              .col-md-8
                blockquote
                  i(class=quote_icon)
                  p Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA.
                  hr.clients-hr
                  cite &#8212; Mitch, Home Buyer          
  .col-12.fixed-bottom
    button.btn(type="button" aria-haspopup="true" aria-expanded="false") Let's Talk
    button.btn.dropdown-toggle.dropdown-toggle-split(data-toggle="dropdown" data-target="contactForm" id="#dropdown-3" type="button")
        i(class=user_icon aria-hidden="true")
    .dropdown-menu.p-4(id="dropdown-3")
      h6.dropdown-header Let's Get In Touch
      .form-group
        label(for="dropdownEmail") Email Address
        input(type="email" class="form-control" id="dropdownEmail" placeholder="email@example.com")
      .form-group
        label(for="dropdownPhone") Phone Number
        input(type="tel" class="form-control" id="dropdownPhone")
      button.btn.btn-primary(type="submit") Submit
  #contact.offset
    footer
      .row.justify-content-center
        .col-md-5.text-center
          p Let's talk about how we can accomplish your real estate goals, Lorem Ipsum all day I love Olympia and my service is unmatched
          strong Contact Info
          p Phone <br> Email
          a(href="#" target="_blank")
            i(class=facebook_icon)
          a(href="#" target="_blank")
            i(class=instagram_icon)
          a(href="#" target="_blank")
            i(class=twitter_icon)
        hr(class="socket")
        p &copy; Made by Michael
  script(src='https://use.fontawesome.com/releases/v5.5.0/js/all.js')