.col
  .row.justify-content-end
    .col-lg-6.col-sm-11.carousel-container
      #clientCarousel.carousel.slide(data-ride="carousel")
        .carousel-inner
        //- Slide #1
        .carousel-item.active
          .card.carousel-card-content
            .row.justify-content-end
              //- Col 1
              .col-4.carousel-card-pic-col
                .overlay.d-flex.justify-content-center.align-items-center
                  a.overlay-link(href="#") See Review
              //- Col 2
              .col.carousel-card-content-col
                blockquote.carousel-card-text.text-left
                  //- i(class=quote_icon)
                  p Ben assisted with everything needed and went above and beyond to make the sale. We highly recommend giving him a call.
                .row.justify-content-start
                  footer.client-footer
                    .client-avatar
                      img(src="../styles/assets/img/client1.png")
                    .d-table-cell.align-middle.pl-2
                      .blockquote-footer Mitch Redfern
                        .row.star-row-container
                          i(class=review_star_icon)
                          i(class=review_star_icon)
                          i(class=review_star_icon)
                          i(class=review_star_icon)
                          i(class=review_star_icon)
        //- Slide #2
        .carousel-item
          .card.carousel-card-content
            .row.justify-content-end
              //- Col 1
              .col-4.carousel-card-pic-col
                .overlay.d-flex.justify-content-center.align-items-center
                  a.overlay-link(href="#") See Review
              //- Col 2
              .col.carousel-card-content-col
                blockquote.carousel-card-text.text-left
                  //- i(class=quote_icon)
                  p Ben assisted with everything needed and went above and beyond to make the sale. We highly recommend giving him a call.
                .row.justify-content-start
                  footer.client-footer
                    .client-avatar
                      img(src="../styles/assets/img/client1.png")
                    .d-table-cell.align-middle.pl-2
                      .blockquote-footer Mitch Redfern
                        .row.star-row-container
                          i(class=review_star_icon)
                          i(class=review_star_icon)
                          i(class=review_star_icon)
                          i(class=review_star_icon)
                          i(class=review_star_icon)
