.card.carousel-card.row.text-left
  #clientCarousel.carousel.slide(data-ride="carousel")
    .carousel-inner
    .carousel-item.active
      .card.client-card
        .client-card-body
          span.post-format
            i(class=quote_icon)
          h5.review-text
            a Test it Out Test it Out It Be Like That When You're Working With the Very Best Test it Out Test it Out It Be Like That When You're Working With the Very Best
          //- a.tag-link See Full Review
        .client-card-footer
          a.post-author(href="#")
            .post-author-avatar
              img(src="../styles/assets/img/client2.png" class="img-fluid")
            .post-author-name Mitch Redfern
          .post-meta
            a(href="#")
              i(class=review_star_icon)
              i(class=review_star_icon)
              i(class=review_star_icon)
              i(class=review_star_icon)
              i(class=review_star_icon)
    .carousel-item
      .card.client-card
        .client-card-body
          span.post-format
            i(class=quote_icon)
          h5.review-text
            a Test it Out Test it Out It Be Like That When You're Working With the Very Best Test it Out Test it Out It Be Like That When You're Working With the Very Best
          //- a.tag-link See Listing
        .client-card-footer
          a.post-author(href="#")
            .post-author-avatar
              img(src="../styles/assets/img/client2.png" class="img-fluid")
            .post-author-name Mitch Redfern
          .post-meta
            a(href="#")
              i(class=review_star_icon)
              i(class=review_star_icon)
              i(class=review_star_icon)
              i(class=review_star_icon)
              i(class=review_star_icon)
