.container-fluid.services-container.mt-5
  .row
    .col-lg-6.col-12.mt-5#section-banner-a
      .col-12.order-1.order-lg-2.text-center.align-self-center.ml-auto.mr-auto.mt-5
        .row.align-items-center
          .col-12.img-title-wrapper
            h1.little-title Let's Accomplish Your Real Estate Goals
    .col-lg-6.col-12
      .service-col.order-2.order-lg-1.col-12.mb-30.ml-lg-auto.pb-2
        .card.service-card
          .service-card-body
            #service-block
              .card
                #headingOne.card-header
                  h6.sub-title.text-center.text-md-left.mb-0 Buyers
                .card-body
                  .icon-col#icon-col-b
                    ul
                      li
                        i(class=phone_icon)
                        span consultation
                        a(href="#") Pre-approved? Bursting with ideas? I'll get the ball rolling by aligning your search with your goals.
                        li
                          i(class=envelope_icon)
                          span tour listings
                          a(href="#") Let me share my knowledge as we browse available inventory
                        li
                          i(class=page_icon)
                          span Place Your Offer
                          a(href="#") I'll leverage my expertise to position your offer in the best competitive light 
                .card
                  #headingOne.card-header
                    h6.sub-title.text-center.text-md-left.mb-0 Sellers
                  .card-body
                    .icon-col#icon-col-b
                      ul
                        li
                          i(class=phone_icon)
                          span consultation
                          a(href="#") Pre-approved? Bursting with ideas? I'll get the ball rolling by aligning your search with your goals.
                        li
                          i(class=envelope_icon)
                          span tour listings
                          a(href="#") Let me share my knowledge as we browse available inventory
                        li
                          i(class=page_icon)
                          span Place Your Offer
                          a(href="#") I'll leverage my expertise to position your offer in the best competitive light
